$('.search-results').empty().html('<div class="loading_spinner"><img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />Loading results</div>')
// load the new results
$('.search-results').html("#{escape_javascript(render partial: 'results', locals: {results: @results})}");
// remove the pagination if there is any
$('.search-pagination').empty().html('#{escape_javascript(paginate @results)}')
// Set the search term
$('.search-term').html('#{escape_javascript(params[:q])}')
// reset the scroll binding for infinite scroll if its been removed on the page
window.bind_scroll(); 
