=render 'layouts/header'

.container_fluid.nav-bar
  
.container
  .row
    .col-md-3
      .search-mixer
        =render 'mixer'
    .col-md-9
      Searching for
      .search-term
        =params[:q]
      %br
      %br
      .search-results
        =render partial: 'results', locals: {results: @results}  
      .search-pagination
        =paginate @search.results
