.container-fluid  
  .row.row-no-padding
    .fp-bg-image
      .row
        =render 'layouts/header'
      .row
        .col-xs-10.col-xs-offset-1
          .fp-signup-box
            .fp-signup-title
              Welcome to Freshcuts!
            %br
            Sign up for our newsletter
            = render 'layouts/newsletter_signup'
