/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'neat';

// colours
$skyblue: #C3DFE0;
$denim: #566987;
$jet: #2f2f33;
$rust: #BF4E30;
$eggshell: #FFF8F0;

// fonts
$montserrat: 'Montserrat', sans-serif;

// General
body {
    font: 100% $montserrat;
    font-size: 2em;
    color: $jet;
}

a:hover, a:active, a:visited, a{
    color: $eggshell;
    text-decoration: none;
    background: transparent;
}
.body-wrapper{
    min-height:300px;

}
.fp-bg-image{
    margin:0;
    background-size: cover;
    height:100vh;
    background-image: image-url('steak-perfectly-cooked.jpg');
    background-repeat: no-repeat;
}

.fp-signup-box{
    background: rgba(255, 250, 240, 0.6);
    margin:0 3px;
    padding:15px;
    border-radius: 3px;
}

.fp-signup-title{
   font-size:2em;
   color: $rust;
   font-weight: 700;
   margin-bottom:5px;
   border-bottom:1px solid #555;
}

.header-title-white{
    font-size:6em;
    color: $eggshell;
    font-weight:900;
    line-height:.7em;
    margin: 20px 0 20px 0;
}


.header-title-jet{
    font-size:6em;
    color: $jet;
    font-weight: 900;
    line-height: .7em;
    margin:20px 0 20px 0;
    
}

.header-bar{
    background-color: $denim;
    padding:10px;
    min-height:150px;
}
.notice{
    margin: 0;
    padding: 0;
}

.alert{
    margin: 0;
    padding: 0;
    border: none;
}
.nav-bar{
    background-color: $denim;
    padding:10px;
    min-height:50px
}

.search-mixer{
    background-color: $rust;
    padding:10px;
    min-height:200px
}

.ajax-spinner{
    text-align: center;

}

.search-term{
    display: inline
}

.result-card{
    box-shadow: -3px 3px 5px rgba(150, 150, 150, 0.9);
    margin-bottom:15px
}

.rc-image{
    height:200px;
    background-size: cover;
    //background-image: image-url('uncooked-marbled-steak.jpg');
    background-repeat: no-repeat;
     
}

.rc-title{
    font-size: 1.3em;
    font-weight: 700;
    background-color: rgba(0,0,0, 0.4);
    padding:5px;
    color: $eggshell;

}

.rc-description{
    font-size:0.6em;
}

.rc-details-blue{
    padding:5px;
    height:60px;
    background: $skyblue;
}

.rc-details-rust{
    background: $rust;
    padding:5px;
    height:60px;
}

.rc-price{
    display: inline-block;
}

.rc-price-discount{
    text-decoration: line-through;
}

.rc-discount{
    display: inline-block;
}

.rc-weight{
    display: block;
    font-size: 0.7em
}

// bootstrap utility classes
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// media queries
@media screen and (max-width: 1000px) {
    .header-title {
        font-size: 4em;
    }
}

@media screen and (max-width: 500px) {
    .header-title {
        font-size: 2em; 
    }
}

// mailchimp
#mc_embed_signup form{
    text-align: left !important;
}
