%link{:href => "//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css", :rel => "stylesheet", :type => "text/css"}/
#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "//journal-online.us2.list-manage.com/subscribe/post?u=5364163093ea094a74f88554c&id=e06affd05e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
        %input{:name => "b_5364163093ea094a74f88554c_e06affd05e", :tabindex => "-1", :type => "text", :value => ""}/
      .clear
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
